h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 40px;
}
body {
  background-color: #dfe0df93;
}


.indice {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 40px;
  word-spacing: 60px;
  background-color: rgb(65, 64, 64);
  margin-left: 25%;
  margin-right: 25%;
  resize: horizontal;
  overflow: auto;
}

a {
  text-decoration: none;
  color: rgb(240, 240, 240);
}

.fotoedescricao {
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    display: inline-block;
    margin-left: 15%;
    margin-right: 25%;
    margin-bottom: 8%;
    margin-top: 6%;
  }

#foto {
  border-radius: 50%;
  padding: 8px;
  background-color: rgb(48, 47, 47);
  float: left;
  margin-right: 10%;
}

.belbooks {
    display: inline-block;
    margin-left: 15%;
    margin-right: 25%;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 6%;
}
#belbooksfoto {
    padding: 8px;
    background-color: rgb(48, 47, 47);
    float: left;
    margin-right: 10%;
  }
.habilidades {
    margin-left: 15%;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 6%;
}

.links {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 6%;
    word-spacing: 60px;
    text-align: center;
}
